* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 1rem;
    flex: 0.5;
    transition: flex 0.5s ease-in;
    cursor: pointer;
    position: relative;
    margin: 1rem;
    color: #ec0707;
    font-size: 30px;
}

.panel h3 {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: flex 0.5s ease-out;
}

@media(max-width:480px) {
    .container {
        width: 100vw;
    }

    .panel {
        font-size: 18px;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}